In [1]:
import pandas as pd

In [2]:
onestar = "../Resources/one-star-michelin-restaurants.csv"
twostar = "../Resources/two-stars-michelin-restaurants.csv"
threestar = "../Resources/three-stars-michelin-restaurants.csv"

In [3]:
onestar_df = pd.read_csv(onestar)
twostar_df = pd.read_csv(twostar)
threestar_df = pd.read_csv(threestar)

In [4]:
onestar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [5]:
onestar_df.shape

(549, 10)

In [6]:
onestar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       549 non-null    object
 1   year       549 non-null    int64
 2   latitude   549 non-null    float64
 3   longitude  549 non-null    float64
 4   city       547 non-null    object
 5   region     549 non-null    object
 6   zipCode    400 non-null    object
 7   cuisine    549 non-null    object
 8   price      398 non-null    object
 9   url        549 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 43.0+ KB

In [7]:
twostar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,SENNS.Restaurant,2019,47.83636,13.06389,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
1,Ikarus,2019,47.79536,13.00695,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Mraz & Sohn,2019,48.23129,16.37637,Wien,Austria,1200,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
3,Konstantin Filippou,2019,48.21056,16.37996,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
4,Silvio Nickol Gourmet Restaurant,2019,48.20558,16.37693,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [8]:
twostar_df.shape

(110, 10)

In [9]:
twostar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       110 non-null    object
 1   year       110 non-null    int64
 2   latitude   110 non-null    float64
 3   longitude  110 non-null    float64
 4   city       110 non-null    object
 5   region     110 non-null    object
 6   zipCode    77 non-null     object
 7   cuisine    110 non-null    object
 8   price      90 non-null     object
 9   url        110 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 8.7+ KB

In [10]:
threestar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Amador,2019,48.25406,16.35915,Wien,Austria,1190,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
1,Manresa,2019,37.22761,-121.98071,South San Francisco,California,95030,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...
2,Benu,2019,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...
3,Quince,2019,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
4,Atelier Crenn,2019,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...

In [11]:
threestar_df.shape

(36, 10)

In [12]:
threestar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       36 non-null     object
 1   year       36 non-null     int64
 2   latitude   36 non-null     float64
 3   longitude  36 non-null     float64
 4   city       36 non-null     object
 5   region     36 non-null     object
 6   zipCode    24 non-null     object
 7   cuisine    36 non-null     object
 8   price      31 non-null     object
 9   url        36 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.9+ KB

In [13]:
onestar_df["Michelin Star Count"] = 1
twostar_df["Michelin Star Count"] = 2
threestar_df["Michelin Star Count"] = 3

In [14]:
mergedstar_df = pd.concat([onestar_df, twostar_df, threestar_df])

In [15]:
mergedstar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [16]:
mergedstar_df.shape

(695, 11)

In [17]:
mergedstar_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695 entries, 0 to 35
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 695 non-null    object
 1   year                 695 non-null    int64
 2   latitude             695 non-null    float64
 3   longitude            695 non-null    float64
 4   city                 693 non-null    object
 5   region               695 non-null    object
 6   zipCode              501 non-null    object
 7   cuisine              695 non-null    object
 8   price                519 non-null    object
 9   url                  695 non-null    object
 10  Michelin Star Count  695 non-null    int64
dtypes: float64(2), int64(2), object(7)
memory usage: 65.2+ KB

In [18]:
#mask = mergedstar_df["region"] == "California"
#mask

In [19]:
#cal = mergedstar_df.loc[mask]
#cal

In [20]:
#mergedstar_df.region.unique()

In [21]:
#mask2 = mergedstar_df["region"] == ["California", "New York City", "Chicago", "Washington DC"]
#mask2

In [22]:
#regionsUS = mergedstar_df.loc[mask2]
#regionsUS

In [23]:
#regionsUS = mergedstar_df.loc[["California", "New York City", "Chicago", "Washington DC"]]
#regionsUS

In [24]:
regionsUS = mergedstar_df.loc[(mergedstar_df['region'] == "California") | (mergedstar_df['region'] == "New York City") | (mergedstar_df['region'] == "Chicago") | (mergedstar_df['region'] == "Washington DC")]
regionsUS

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
12,Chez TJ,2019,37.394680,-122.08044,South San Francisco,California,94041,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...,1
13,Protégé,2019,37.427853,-122.14362,South San Francisco,California,94301,Contemporary,$$$,https://guide.michelin.com/us/en/california/so...,1
14,Madera,2019,37.420140,-122.21151,San Francisco,California,94025,Contemporary,$$$,https://guide.michelin.com/us/en/california/sa...,1
15,The Village Pub,2019,37.428970,-122.25178,San Francisco,California,94062,Contemporary,$$$,https://guide.michelin.com/us/en/california/sa...,1
16,Plumed Horse,2019,37.256480,-122.03537,South San Francisco,California,95070,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...,1
...,...,...,...,...,...,...,...,...,...,...,...
22,Per Se,2019,40.768280,-73.98292,New York,New York City,10019,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...,3
23,Le Bernardin,2019,40.761770,-73.98223,New York,New York City,10019,Seafood,$$$$,https://guide.michelin.com/us/en/new-york-stat...,3
24,Eleven Madison Park,2019,40.741700,-73.98712,New York,New York City,10010,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...,3
25,Chef's Table at Brooklyn Fare,2019,40.688720,-73.98581,New York,New York City,10018,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...,3
30,The Inn at Little Washington,2019,38.713623,-78.16208,"Washington, D.C.",Washington DC,22747,American,$$$$,https://guide.michelin.com/us/en/washington/wa...,3

In [25]:
#regionsUS.to_csv('US_Regions.csv')

In [26]:
mergedstar_df["price"].fillna("No Price", inplace = True)

mergedstar_df["city"].fillna("No City", inplace = True)

mergedstar_df["zipCode"].fillna("No Zip", inplace = True)

mergedstar_df

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
0,Kilian Stuba,2019,47.348580,10.171140,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.079170,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.034090,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.040060,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.368520,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1
...,...,...,...,...,...,...,...,...,...,...,...
31,Fat Duck,2019,51.508280,-0.702320,Bray,United Kingdom,SL6 2AQ,Creative,No Price,https://guide.michelin.com/gb/en/buckinghamshi...,3
32,Waterside Inn,2019,51.507730,-0.701210,Bray,United Kingdom,SL6 2AT,Classic French,No Price,https://guide.michelin.com/gb/en/buckinghamshi...,3
33,Alain Ducasse at The Dorchester,2019,51.507120,-0.152520,Mayfair,United Kingdom,W1K 1QA,French,No Price,https://guide.michelin.com/gb/en/greater-londo...,3
34,The Araki,2019,51.511826,-0.140389,Mayfair,United Kingdom,W1S 3BF,Japanese,No Price,https://guide.michelin.com/gb/en/greater-londo...,3
35,Gordon Ramsay,2019,51.485460,-0.162020,Chelsea,United Kingdom,SW3 4HP,French,No Price,https://guide.michelin.com/gb/en/greater-londo...,3

In [27]:
noPrice = mergedstar_df.loc[(mergedstar_df['price'] != "No Price") & (mergedstar_df['price'] != "$")& (mergedstar_df['price'] != "$$")& (mergedstar_df['price'] != "$$$")& (mergedstar_df['price'] != "$$$$")& (mergedstar_df['price'] != "$$$$$")]
noPrice

Empty DataFrame
Columns: [name, year, latitude, longitude, city, region, zipCode, cuisine, price, url, Michelin Star Count]
Index: []

In [28]:
noZip = mergedstar_df.loc[(mergedstar_df['zipCode'] == "No Zip")]
noZip

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
59,Harbor House,2019,39.135876,-123.719444,San Francisco,California,No Zip,Californian,$$$$,https://guide.michelin.com/us/en/california/sa...,1
87,Temporis,2019,41.898907,-87.667250,Chicago,Chicago,No Zip,Contemporary,$$$$,https://guide.michelin.com/us/en/illinois/chic...,1
137,Loaf On,2019,22.379858,114.271880,Hong Kong,Hong Kong,No Zip,Cantonese,$$,https://guide.michelin.com/hk/en/hong-kong-reg...,1
138,Lei Garden (Kwun Tong),2019,22.312672,114.224820,Hong Kong,Hong Kong,No Zip,Cantonese,$,https://guide.michelin.com/hk/en/hong-kong-reg...,1
139,Tim Ho Wan (Sham Shui Po),2019,22.328050,114.166650,Hong Kong,Hong Kong,No Zip,Dim Sum,$,https://guide.michelin.com/hk/en/hong-kong-reg...,1
...,...,...,...,...,...,...,...,...,...,...,...
17,The Eight,2019,22.190475,113.543410,Macau,Macau,No Zip,Chinese,$$$,https://guide.michelin.com/mo/en/macau-region/...,3
18,Robuchon au Dôme,2019,22.189949,113.543950,Macau,Macau,No Zip,French contemporary,$$$$,https://guide.michelin.com/mo/en/macau-region/...,3
19,Jade Dragon,2019,22.149137,113.567150,Macau,Macau,No Zip,Cantonese,$$,https://guide.michelin.com/mo/en/macau-region/...,3
26,La Yeon,2019,37.555813,127.005170,Seoul,South Korea,No Zip,Korean,$$$$,https://guide.michelin.com/kr/en/seoul-capital...,3
27,Gaon,2019,37.522650,127.035950,Seoul,South Korea,No Zip,Korean,$$$$$,https://guide.michelin.com/kr/en/seoul-capital...,3

In [29]:
noCity = mergedstar_df.loc[(mergedstar_df['city'] == "No City")]
noCity

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
152,Épure,2019,22.295830,114.169304,No City,Hong Kong,No Zip,French,$$$,https://guide.michelin.com/hk/en/hong-kong-reg...,1
166,Arbor,2019,22.283146,114.155420,No City,Hong Kong,No Zip,Innovative,$$$,https://guide.michelin.com/hk/en/hong-kong-reg...,1

In [31]:
mergedstar_df.to_csv('../Resources/Cleaned.csv')