In [1]:
import pandas as pd

In [2]:
onestar = "../Resources/one-star-michelin-restaurants.csv"
twostar = "../Resources/two-stars-michelin-restaurants.csv"
threestar = "../Resources/three-stars-michelin-restaurants.csv"

In [3]:
onestar_df = pd.read_csv(onestar)
twostar_df = pd.read_csv(twostar)
threestar_df = pd.read_csv(threestar)

In [4]:
onestar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [5]:
onestar_df.shape

(549, 10)

In [6]:
onestar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       549 non-null    object
 1   year       549 non-null    int64
 2   latitude   549 non-null    float64
 3   longitude  549 non-null    float64
 4   city       547 non-null    object
 5   region     549 non-null    object
 6   zipCode    400 non-null    object
 7   cuisine    549 non-null    object
 8   price      398 non-null    object
 9   url        549 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 43.0+ KB

In [7]:
twostar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,SENNS.Restaurant,2019,47.83636,13.06389,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
1,Ikarus,2019,47.79536,13.00695,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2,Mraz & Sohn,2019,48.23129,16.37637,Wien,Austria,1200,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
3,Konstantin Filippou,2019,48.21056,16.37996,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
4,Silvio Nickol Gourmet Restaurant,2019,48.20558,16.37693,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [8]:
twostar_df.shape

(110, 10)

In [9]:
twostar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       110 non-null    object
 1   year       110 non-null    int64
 2   latitude   110 non-null    float64
 3   longitude  110 non-null    float64
 4   city       110 non-null    object
 5   region     110 non-null    object
 6   zipCode    77 non-null     object
 7   cuisine    110 non-null    object
 8   price      90 non-null     object
 9   url        110 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 8.7+ KB

In [10]:
threestar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url
0,Amador,2019,48.25406,16.35915,Wien,Austria,1190,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
1,Manresa,2019,37.22761,-121.98071,South San Francisco,California,95030,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...
2,Benu,2019,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...
3,Quince,2019,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
4,Atelier Crenn,2019,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...

In [11]:
threestar_df.shape

(36, 10)

In [12]:
threestar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       36 non-null     object
 1   year       36 non-null     int64
 2   latitude   36 non-null     float64
 3   longitude  36 non-null     float64
 4   city       36 non-null     object
 5   region     36 non-null     object
 6   zipCode    24 non-null     object
 7   cuisine    36 non-null     object
 8   price      31 non-null     object
 9   url        36 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.9+ KB

In [13]:
onestar_df["Michelin Star Count"] = 1
twostar_df["Michelin Star Count"] = 2
threestar_df["Michelin Star Count"] = 3

In [14]:
mergedstar_df = pd.concat([onestar_df, twostar_df, threestar_df])

In [15]:
mergedstar_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Star Count
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [16]:
mergedstar_df.shape

(695, 11)

In [17]:
mergedstar_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695 entries, 0 to 35
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 695 non-null    object
 1   year                 695 non-null    int64
 2   latitude             695 non-null    float64
 3   longitude            695 non-null    float64
 4   city                 693 non-null    object
 5   region               695 non-null    object
 6   zipCode              501 non-null    object
 7   cuisine              695 non-null    object
 8   price                519 non-null    object
 9   url                  695 non-null    object
 10  Michelin Star Count  695 non-null    int64
dtypes: float64(2), int64(2), object(7)
memory usage: 65.2+ KB