In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from citipy import citipy

In [5]:
filepath = "Resources/Cleaned.csv"
df = pd.read_csv(filepath)
df.price.unique()

array(['$$$$$', '$$$$', '$$$', '$$', '$', 'No Price'], dtype=object)

In [39]:
mask = df.price != "No Price"
df_price = df.loc[mask]
df_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 0 to 689
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           519 non-null    int64
 1   name                 519 non-null    object
 2   year                 519 non-null    int64
 3   latitude             519 non-null    float64
 4   longitude            519 non-null    float64
 5   city                 519 non-null    object
 6   region               519 non-null    object
 7   zipCode              519 non-null    object
 8   cuisine              519 non-null    object
 9   price                519 non-null    object
 10  url                  519 non-null    object
 11  Michelin Star Count  519 non-null    int64
dtypes: float64(2), int64(3), object(7)
memory usage: 52.7+ KB

In [60]:
df1 = df_price.groupby("region")["price"].count()
df1

region
Austria           19
California        90
Chicago           22
Croatia            5
Czech Republic     2
Denmark           28
Finland            6
Greece             4
Hong Kong         63
Hungary            6
Macau             19
New York City     74
Norway             8
Poland             2
Rio de Janeiro     6
Sao Paulo         12
Singapore         39
South Korea       26
Sweden            22
Taipei            24
Thailand          26
Washington DC     16
Name: price, dtype: int64

In [41]:
mask1 = df_price.price == "$"
mask2 = df_price.price == "$$"
mask3 = df_price.price == "$$$"
mask4 = df_price.price == "$$$$"
mask5 = df_price.price == "$$$$$"
df1d = df_price.loc[mask1]
df1dol = df1d.region.value_counts()

In [42]:
df2d = df_price.loc[mask2]
df2dol = df2d.region.value_counts()

In [43]:
df3d = df_price.loc[mask3]
df3dol = df3d.region.value_counts()

In [44]:
df4d = df_price.loc[mask4]
df4dol = df4d.region.value_counts()

In [45]:
df5d = df_price.loc[mask5]
df5dol = df5d.region.value_counts()

In [58]:
regpr_df = pd.concat([df1dol, df2dol, df3dol, df4dol, df5dol, df1], axis=1)
regpr_df.columns = ["$ Count", "$$ Count", "$$$ Count", "4$ Count", "5$ Count", "Total"]
regpr_df = regpr_df.fillna(0)
#regpr.style.format({"$ Count":, "$$ Count", "$$$ Count", "4$ Count", "5$ Count"})

In [59]:
regpr_df.astype(int)

                $ Count  $$ Count  $$$ Count  4$ Count  5$ Count  Total
Singapore            16        11          7         3         2     39
Hong Kong             9        15         18        10        11     63
Macau                 3         8          5         2         1     19
Thailand              1         4          6         9         6     26
South Korea           1         1         18         3         3     26
Taipei                1         9          8         6         0     24
New York City         0         7         15        52         0     74
Denmark               0         6         12        10         0     28
California            0         6         23        61         0     90
Washington DC         0         4          4         8         0     16
Chicago               0         2          7        13         0     22
Sweden                0         2         10        10         0     22
Finland               0         0          6         0         0      6
Norway                0         0          2         6         0      8
Hungary               0         0          1         2         3      6
Sao Paulo             0         0          1         0        11     12
Austria               0         0          0         1        18     19
Poland                0         0          0         1         1      2
Rio de Janeiro        0         0          0         0         6      6
Croatia               0         0          0         0         5      5
Greece                0         0          0         0         4      4
Czech Republic        0         0          0         0         2      2